.page {
  height: 100vh;
  display: flex;

  @media (max-width: $mobile-screen) {
    flex-direction: column;
  }

  .page-nav {
    $nav-width: 256px;
    $sidebar-padding: 3rem 2rem;

    flex: 0 0 $nav-width;
    padding: $sidebar-padding;

    background: $clr-dark-gradient;
    transition: flex 0.3s linear;

    @media (max-width: $mobile-screen) {
      flex: 0 1 auto;
      padding: 1rem;
    }

    @media (min-width: $mobile-screen) and (max-width: $tablet-screen) {
      flex: 0 0 128px;
    }
  }

  .page-nav:hover {
    @media (min-width: $mobile-screen) and (max-width: $tablet-screen) {
      flex: 0 0 256px;
    }
  }

  .page-main {
    $main-padding: 3rem 1rem;

    flex: 1 1 auto;
    padding: $main-padding;

    background-color: $clr-neutral-200;
  }
}
