.page {
  height: 100vh;
  display: flex;
}

.page-nav {
  $nav-width: 256px;
  $sidebar-padding: 3rem 2rem;

  flex: 0 0 $nav-width;
  padding: $sidebar-padding;

  background-color: $clr-primary-900;
}

.page-main {
  $main-padding: 5rem 2rem;

  flex: 1 1 auto;
  padding: $main-padding;

  background-color: $clr-primary-300;
}
