.page-nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media (max-width: $mobile-screen) {
    display: block;
  }

  .page-nav__nameplate {
    align-self: center;

    @media (max-width: $mobile-screen) {
      align-self: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .page-nav__title {
      text-shadow: 1px 1px 9px rgba(255, 255, 255, 0.5);
    }

    .page-nav__menu-open {
      display: none;

      @media (max-width: $mobile-screen) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
      }
    }
  }

  h2 {
    font-family: $ff-mono;
    font-weight: $fw-bold;
    font-size: $fs-secondary-heading;
    color: $clr-neutral-200;
    align-self: center;
  }

  .page-nav__ul {
    background-color: none;
    @media (max-width: $mobile-screen) {
      position: fixed;
      top: 0px;
      right: 0px;
      height: 100vh;
      width: 256px;
      background: $clr-dark-gradient;
      z-index: 99;
      transform: translateX(110%);
      transition: transform 0.3s linear;
      padding: 2rem 2rem;

      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .page-nav__menu-close-cont {
      display: none;
      @media (max-width: $mobile-screen) {
        text-align: right;
        display: flex;
        justify-content: end;
      }
      .page-nav__menu-close {
        display: none;

        @media (max-width: $mobile-screen) {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 50px;
        }
      }
    }
  }

  .page-nav__open {
    transform: translateX(0%);
    box-shadow: -2px -2px 200px $clr-primary-900;
  }

  .page-nav__list {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 10px 12px;
    margin: 1rem 0 0 -0.5rem;
    border-radius: 0.3rem;
    color: $clr-neutral-200;
    cursor: pointer;

    @media (max-width: $mobile-screen) and (max-width: $tablet-screen) {
      justify-content: center;
    }

    .page-nav__list-text {
      @media (min-width: $mobile-screen) and (max-width: $tablet-screen) {
        display: none;
      }
    }
  }
}

.page-nav:hover .page-nav__list-text {
  display: block;
}

.page-nav h2,
.page-nav__list {
  transition: color 0.3s;
}

.page-nav__list:hover:not(.nohover),
.page-nav h2:hover {
  color: $clr-primary-700;
}

.page-nav__list.active {
  background-color: $clr-primary-700;
  opacity: 0.9;
  box-shadow: 0px 0px 10px $clr-primary-700;
}

.page-nav__title.active {
  color: $clr-primary-700;
}
