.page-section {
  height: 100%;

  .page-container {
    height: 100%;
    max-width: 90%;
    margin-inline: auto;

    @media (max-width: $mobile-screen) {
      height: auto;
    }

    .page-title {
      font-size: $fs-secondary-heading;
      font-weight: $fw-bold;
      color: hsl(0, 0%, 24%);
    }
  }
}
