.action-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;

  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(8px);
  font-size: 14px;

  .action-modal__container {
    position: fixed;
    max-width: 600px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: $clr-light-gradient;
    color: black;
    padding: 3rem 5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.3);

    @media (max-width: $mobile-screen) {
      padding: 2rem 4rem;
    }

    .action-modal__title {
      font-weight: $fw-bold;
      font-size: $fs-primary-heading;
      padding-bottom: 1rem;

      @media (max-width: $mobile-screen) {
        font-size: $fs-secondary-heading;
      }

      @media (max-width: $tablet-screen) {
        font-size: $fs-secondary-heading;
      }
    }
  }
}

.action-modal-delete__details {
  margin-block: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  .action-modal-delete__avatar {
    max-width: 90px;
    height: auto;
    border-radius: 50%;
  }

  .action-modal-delete__id {
    font-size: 0.75rem;
    margin-bottom: 0.3rem;
  }

  .action-modal-delete__name {
    font-size: 1.5rem;
    font-weight: $fw-bold;
  }
}
