button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 6px;
  border: 0;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.3);
  transition: opacity 0.3s ease;
  font-weight: $fw-semi-bold;
  font-size: 0.8rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.modal-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}

button[type="add"] {
  background-color: $clr-neutral-700;
  color: hsl(216, 100%, 89%);
  font-weight: $fw-bold;
  margin-right: 1rem;
}

button[type="submit"] {
  background-color: $clr-neutral-700;
  color: hsl(216, 100%, 89%);
  font-weight: $fw-bold;
}

button[type="delete"] {
  background-color: $clr-error-400;
  color: $clr-neutral-100;
}

button[type="close"] {
  background-color: $clr-neutral-200;
}

button[type="pagination"] {
  background-color: $clr-neutral-400;
  color: $clr-neutral-900;
  font-size: 0.7rem;
  padding: 8px 16px;
  // margin-inline: 8px;
}

button[type="pagination"].active {
  color: $clr-neutral-200;
  background: $clr-dark-gradient;
}
