.table-container {
  width: 100%;
  height: 60vh;
  margin: 1rem 0;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: gray;
  }

  &::-webkit-scrollbar-track {
    background: $clr-neutral-300;
    border-radius: 10px;
  }
}

.user-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: left;

  thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  th {
    padding: 12px 15px;
    text-align: center;
    background: $clr-dark-gradient;
    color: $clr-neutral-200;
    font-size: 0.9rem;

    @media (max-width: $mobile-screen) {
      font-size: 0.75rem;
      padding: 8px 5px;
    }
  }

  td {
    padding: 5px 8px;
    color: $clr-neutral-600;
    text-align: center;
    font-size: 0.9rem;
    height: 50px;
    cursor: pointer;

    @media (max-width: $mobile-screen) {
      font-size: 0.75rem;
      padding: 5px 6px;
    }

    .table-avatar {
      display: block;
      margin: auto;
      max-width: 40px;
      height: auto;
      border-radius: 50%;

      @media (max-width: $mobile-screen) {
        max-width: 30px;
      }
    }
  }

  .table-action {
    text-align: center;

    .table-action__edit {
      background-color: $clr-success-200;
    }

    .table-action__delete {
      background-color: $clr-error-200;
    }
  }

  .table-action > * {
    display: inline-block;
    padding: 0.3rem;
    margin-inline: 0.3rem;
    border-radius: 20%;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s ease-in;

    @media (max-width: $mobile-screen) {
      margin-block: 5px;
    }
  }

  .table-action > *:hover {
    opacity: 0.5;
  }

  tbody tr:nth-child(even) {
    background-color: $clr-neutral-100;
  }

  tbody tr:nth-child(odd) {
    background-color: $clr-neutral-200;
  }

  tbody tr:hover {
    background-color: $clr-neutral-400;
  }
}

.table-pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}
