.table-container {
  width: 100%;
  height: 60vh;
  margin: 1rem 0;
  overflow-y: auto;
}

.user-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: left;

  th {
    padding: 12px 15px;
    border: 0.3px solid $clr-neutral-500;
    text-align: center;
    background-color: $clr-neutral-600;
    color: $clr-neutral-200;
  }

  td {
    padding: 5px 8px;
    border: 1px solid $clr-neutral-600;
    color: $clr-neutral-600;
    cursor: pointer;

    .table-avatar {
      display: block;
      margin: auto;
      max-width: 40px;
      height: auto;
      border-radius: 50%;
    }
  }

  .table-action {
    text-align: center;

    .table-action__edit {
      background-color: $clr-success-400;
    }

    .table-action__delete {
      background-color: $clr-error-400;
    }
  }

  .table-action > * {
    display: inline-block;
    padding: 0.5rem;
    margin-inline: 0.5rem;
    border-radius: 20%;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s ease-in;
  }

  .table-action > *:hover {
    opacity: 0.6;
  }

  tbody tr:nth-child(even) {
    background-color: $clr-neutral-100;
  }

  tbody tr:nth-child(odd) {
    background-color: $clr-neutral-200;
  }

  tbody tr:hover {
    background-color: $clr-neutral-400;
  }
}

.table-pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
