.page-home {
  height: 100%;
}

.page-home__content {
  background-color: $clr-neutral-200;
  border-radius: 1rem;
  padding: 5rem 4rem;
  margin-block: 2rem;
}

.page-home__content h3 {
  transition: opacity 0.3s;
}

.page-home__content h3:hover {
  opacity: 0.5;
}
