*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a[class] {
  text-decoration: none;
}

img,
svg,
video,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

label,
input,
textarea,
button {
  display: block;
  max-width: 100%;
}

body {
  font-family: $ff-sans;
  font-size: $fs-regular;
  color: $clr-neutral-100;
}

.page-main__container {
  height: 100%;
  max-width: 80%;
  margin-inline: auto;
}

.page-main__title {
  font-size: $fs-secondary-heading;
  font-weight: $fw-bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(8px);
}

.user-modal-container {
  position: fixed;
  width: 600px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  color: black;
  padding: 3rem 5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.3);
}

form > label {
  padding-bottom: 0.5rem;
}

form > input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}

form > input::placeholder {
  opacity: 0.5;
}

.form-btns {
  display: flex;
  gap: 0.5rem;
}

button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 6px;
  border: 0;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.3);
  transition: opacity 0.3s ease;
}

button:hover {
  opacity: 0.6;
}

button[type="submit"] {
  background-color: $clr-success-400;
  color: $clr-neutral-100;
}

button[type="delete"] {
  background-color: $clr-error-400;
  color: $clr-neutral-100;
}

button[type="close"] {
  background-color: $clr-neutral-200;
}
