*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a[class] {
  text-decoration: none;
}

img,
svg,
video,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: $ff-sans;
  font-size: $fs-regular;
  color: $clr-neutral-100;
}

.page-main__container {
  height: 100%;
  max-width: 80%;
  margin-inline: auto;
}

.page-main__title {
  font-size: $fs-secondary-heading;
  font-weight: $fw-bold;
}
