.text-primary-900 {
  color: $clr-primary-900;
}

.text-primary-700 {
  color: $clr-primary-700;
}

.text-primary-400 {
  color: $clr-primary-400;
}

.text-primary-300 {
  color: $clr-primary-300;
}

.text-primary-100 {
  color: $clr-primary-100;
}

.text-accent-900 {
  color: $clr-accent-900;
}

.text-accent-700 {
  color: $clr-accent-700;
}

.text-accent-400 {
  color: $clr-accent-400;
}

.text-accent-100 {
  color: $clr-accent-100;
}

.text-neutral-900 {
  color: $clr-neutral-900;
}

.text-neutral-800 {
  color: $clr-neutral-800;
}

.text-neutral-700 {
  color: $clr-neutral-700;
}

.text-neutral-600 {
  color: $clr-neutral-600;
}

.text-neutral-500 {
  color: $clr-neutral-500;
}

.text-neutral-400 {
  color: $clr-neutral-400;
}

.text-neutral-300 {
  color: $clr-neutral-300;
}

.text-neutral-200 {
  color: $clr-neutral-200;
}

.text-neutral-100 {
  color: $clr-neutral-100;
}

.text-success-400 {
  color: $clr-success-400;
}

.text-success-200 {
  color: $clr-success-200;
}

.text-error-400 {
  color: $clr-error-400;
}

.text-error-200 {
  color: $clr-error-200;
}

.bg-primary-900 {
  background-color: $clr-primary-900;
}

.bg-primary-700 {
  background-color: $clr-primary-700;
}

.bg-primary-400 {
  background-color: $clr-primary-400;
}

.bg-primary-300 {
  background-color: $clr-primary-300;
}

.bg-primary-100 {
  background-color: $clr-primary-100;
}

.bg-accent-900 {
  background-color: $clr-accent-900;
}

.bg-accent-700 {
  background-color: $clr-accent-700;
}

.bg-accent-400 {
  background-color: $clr-accent-400;
}

.bg-accent-100 {
  background-color: $clr-accent-100;
}

.bg-neutral-900 {
  background-color: $clr-neutral-900;
}

.bg-neutral-800 {
  background-color: $clr-neutral-800;
}

.bg-neutral-700 {
  background-color: $clr-neutral-700;
}

.bg-neutral-600 {
  background-color: $clr-neutral-600;
}

.bg-neutral-500 {
  background-color: $clr-neutral-500;
}

.bg-neutral-400 {
  background-color: $clr-neutral-400;
}

.bg-neutral-300 {
  background-color: $clr-neutral-300;
}

.bg-neutral-200 {
  background-color: $clr-neutral-200;
}

.bg-neutral-100 {
  background-color: $clr-neutral-100;
}

.bg-success-400 {
  background-color: $clr-success-400;
}

.bg-success-200 {
  background-color: $clr-success-200;
}

.bg-error-400 {
  background-color: $clr-error-400;
}

.bg-error-200 {
  background-color: $clr-error-200;
}

.fw-bold {
  font-weight: $fw-bold;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.fw-regular {
  font-weight: $fw-regular;
}

.fs-primary-heading {
  font-size: $fs-primary-heading;
}

.fs-secondary-heading {
  font-size: $fs-secondary-heading;
}

.fs-subheading {
  font-size: $fs-subheading;
}

.fs-regular {
  font-size: $fs-regular;
}

.ff-sans {
  font-family: $ff-sans;
}

.ff-serif {
  font-family: $ff-serif;
}

.ff-mono {
  font-family: $ff-mono;
}

.padding-block-900 {
  padding-block: $size-900;
}

.padding-block-800 {
  padding-block: $size-800;
}

.padding-block-700 {
  padding-block: $size-700;
}

.padding-block-600 {
  padding-block: $size-600;
}

.padding-block-500 {
  padding-block: $size-500;
}

.padding-block-400 {
  padding-block: $size-400;
}

.padding-block-300 {
  padding-block: $size-300;
}

.padding-block-200 {
  padding-block: $size-200;
}

.margin-block-900 {
  margin-block: $size-900;
}

.margin-block-800 {
  margin-block: $size-800;
}

.margin-block-700 {
  margin-block: $size-700;
}

.margin-block-600 {
  margin-block: $size-600;
}

.margin-block-500 {
  margin-block: $size-500;
}

.margin-block-400 {
  margin-block: $size-400;
}

.margin-block-300 {
  margin-block: $size-300;
}

.margin-block-200 {
  margin-block: $size-200;
}

.margin-bottom-400 {
  margin-bottom: $size-400;
}

.margin-bottom-500 {
  margin-bottom: $size-500;
}

.padding-bottom-400 {
  padding-bottom: $size-400;
}

.padding-bottom-500 {
  padding-bottom: $size-500;
}

.z-index-1 {
  z-index: -1;
}

.z-index-100 {
  z-index: 100;
}

.z-index-200 {
  z-index: 200;
}

.z-index-300 {
  z-index: 300;
}

.z-index-400 {
  z-index: 400;
}

.z-index-500 {
  z-index: 500;
}

.z-index-600 {
  z-index: 600;
}

.z-index-700 {
  z-index: 700;
}

.z-index-800 {
  z-index: 800;
}

.z-index-900 {
  z-index: 900;
}

.display-none {
  display: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-spc-betwn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}
